In [5]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
import time

import warnings 
warnings.filterwarnings('ignore')

In [ ]:
#Create Large Dataset
N = 5 * 10**7
df= pd.DataFrame(
    {
        "A":np.random.rand(N),
        "B":np.random.rand(N),
        "C":np.random.rand(N)
    }
)

print(df.shape)

In [ ]:
start_time = time.time()

result = df.groupby("A").sum()

end_time = time.time()
print(f"Time in {end_time - start_time} sec.")

In [ ]:
df = dd.from_pandas(df, npartitions=50)

In [ ]:
%%time

result = df.groupby("A").sum().compute()

In [3]:
from dask import delayed
import dask

In [ ]:
def slow_function(x):
    time.sleep(1)
    return x*x

In [ ]:
results = []
for r in range(100):
    results.append(delayed(slow_function)(r))

In [ ]:
%%time
final = dask.compute(*results)
print(final)

In [13]:
import dask
df = dask.datasets.timeseries()

In [14]:
df

Dask DataFrame Structure:
                  name     id        x        y
npartitions=30
2000-01-01      object  int64  float64  float64
2000-01-02         ...    ...      ...      ...
...                ...    ...      ...      ...
2000-01-30         ...    ...      ...      ...
2000-01-31         ...    ...      ...      ...
Dask Name: make-timeseries, 1 graph layer

In [15]:
df.dtypes

name     object
id        int64
x       float64
y       float64
dtype: object

In [16]:
# df.compute()

In [17]:
df.head()

                       name    id         x         y
timestamp
2000-01-01 00:00:00  Xavier   969 -0.515586 -0.589153
2000-01-01 00:00:01   Laura  1018 -0.309081 -0.069408
2000-01-01 00:00:02     Ray   973  0.087368 -0.996697
2000-01-01 00:00:03   Kevin   950 -0.379951  0.353985
2000-01-01 00:00:04   Frank   980 -0.737254  0.530876

In [20]:
df.groupby(['name'])['x'].sum().compute()

name
Alice       320.953205
Bob         -92.715225
Charlie    -119.635043
Dan         164.521683
Edith        66.881044
Frank       -86.706241
George      113.495376
Hannah      -26.756723
Ingrid     -384.533476
Jerry       289.503682
Kevin      -234.367947
Laura      -103.846876
Michael      34.370857
Norbert     339.842081
Oliver       91.265426
Patricia    247.413645
Quinn        30.389154
Ray         103.551377
Sarah       -55.025381
Tim         133.547736
Ursula      163.449028
Victor     -137.069228
Wendy       257.177951
Xavier      269.399340
Yvonne      -33.040090
Zelda      -133.960870
Name: x, dtype: float64

In [1]:
import dask.dataframe as dd

x = dd.read_csv('file', blocksize='64MB')

print(x.npartitions)